.chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 250px;
  padding: 10px;
  background-color: #495e57;
  border-radius: 12px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.messages {
  max-height: 200px;
  overflow-y: auto;
}

.chatbot input {
  width: 80%;
  padding: 5px;
}

.chatbot button {
  background-color: #f4ce14;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
