@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: Inter, sans-serif;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: #000;
  color: #f4ce14;
  width: 14rem;
  height: 4rem;
  padding: 1rem 0.5rem;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
}
